<!-- REVIEWED -->
<tr class='nested-fields'>
  <td><%= f.input :description, label: false, placeholder: 'Type line description', wrapper_html: { class: 's12' }  %></td>
  <td><%= f.input :unit_price, as: :float, label: false, placeholder: '120', wrapper_html: { class: 's12' }  %></td>
  <td><%= f.input :duration,  placeholder: '5', label: false, wrapper_html: { class: 's12 duration' } %></td>
  <td class='icon-td'>
    <%= link_to_remove_association f, data: {:confirm => 'do you really want to do this?'} do %>
      <i class="tiny material-icons">close</i>
    <% end %>
  </td>
</tr>
