<% production_icons.each do |key, value | %>
  <span class="item center-align">
  <i class="material-icons large <%= 'focus' if @state_machine.current_state == key.to_s%>"><%= value %></i>
  <h6><%= key.to_s.gsub('_', ' ').capitalize %></h6>
</span>
<% if key != production_icons.keys.last %>
  <span class='line'></span>
<% end %>
<% end %>
