<% if user_signed_in? %>
  <div class="fixed-action-btn horizontal left click-to-toggle" id='conf-call-btn-form'>
    <a class="btn-floating btn-large red">
      <i class="material-icons">videocam</i>
    </a>
    <ul>
      <li><a class="btn-floating green modal-trigger" href="#live-call"><i class="material-icons">phone</i></a></li>
      <li><a class="btn-floating black modal-trigger" href="#plan-meeting"><i class="material-icons">schedule</i></a></li>
    </ul>
  </div>




   <!-- Modal Live Call -->
   <div id="live-call" class="modal">
     <div class="modal-content">
       <h4>Live conf-call</h4>
        <div class="form-part">
          <p>Select attendees and start your conf-call. We will notify them</p>
          <%= render 'meetings/live_call_form', meeting: Meeting.new() %>
        </div>
        <div class="conf-part hidden">
        </div>
     </div>
   </div>


   <!-- Modal Plan Meeting -->
   <div id="plan-meeting" class="modal">
     <div class="modal-content">
       <h4>Schedule conf-call</h4>
       <p>Select date and attendees</p>
       <%= render 'meetings/form', meeting: Meeting.new() %>
     </div>
   </div>
<% end %>
