<ul class="title-action">
  <li>
    <h4 class='part-title'>File overview</h4></li>
  <li>
    <%= link_to 'Back', project_path(@project), class:'btn btn-mini' %>
  </li>
</ul>
<br>
<div class="viewer-container center-align
">

</div>
