/* -------------------------------------
 * Fonts
 * ------------------------------------- */

  $medium-size: 16px;
  $nav-size: 14px;
  $text-size: 14px;
  $small-size: 12px;
/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$c-red: #ff053a;
$c-navy-blue: #08112a;
$c-blue: #0f1a53;
$c-blue-opaq: rgba(15, 26, 83, 0.8);
$c-sky-blue: #42d0f8;
$c-sky-blue-dark: darken($c-sky-blue, 10%);
$c-turquoise: #00899d;
$c-turquoise-opaq: rgba(0, 137, 157, 0.8);
$c-orange: #ffba5a;
$c-orange-opacity: rgba(255, 186, 90, 0.2);
// $c-purple: #c765b1;
$c-green: #00c23c;
$c-light-green: #54b979;
// Gray scale
$c-gray-darker:  darken(#434343, 20%);
$c-gray-dark:    darken(#434343, 10%);
$c-gray:         #434343;
$c-gray-light:   #ababab;
$c-gray-lighter: #d3d4d6;


