/* -------------------------------------
 * Fonts
 * ------------------------------------- */

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #ff053a;
$navy-blue: #08112a;
$blue: #0f1a53;
$sky-blue: #42d0f8;
$turquoise: #00899d;
$orange: #ffba5a;
$purlple: #c765b1;
$green: #00c23c;
$fade-green: #54b979;
// Gray scale
$gray-darker:  darken(#434343, 20%);
$gray-dark:    darken(#434343, 10%);
$gray:         #434343;
$gray-light:   #ababab;
$gray-lighter: #d3d4d6;


