#specs {
  margin-bottom: 20px;
}

#guidelines {
  position: fixed;
  left: 70%;
  top: 35vh;
  width: 28%;
  background: $c-gray-lighter;
  padding: 10px 20px;
  border-radius: 3px;
  a, a:hover, a:focus, a:active {
    color: $c-turquoise;
  }
}
