<div id="small-viewer" class='viewer'>

  <% if @project.picture %>
    <%= cl_image_tag @project.picture.path, width: 635, crop: :fill, class:'responsive-img materialboxed' %>
  <% else %>
    <%= image_tag 'missing_3d_picture.png',  style: 'width:100%;', class:'responsive-img' %>
  <% end %>
</div>
<div class="row">
  <div class="col s12">
    <ul class="tabs small">
      <li class="tab col s3"><a href="#config">Config</a></li>
      <li class="tab col s3"><a class="active" href="#folders">Folders</a></li>
    </ul>
  </div>
  <div id="config" class="col s12 tab-content">
    <%= render 'projects/project_config_summary' %>
  </div>
  <div id="folders" class="col s12">
    <%= render 'projects/repo_tree_form' %>
  </div>
</div>
