<span class='center-align btn-floating text bg-<%= user.category %> tooltipped' data-position="right" data-delay="200" data-tooltip="<%= user.name %> - <%= user.category. capitalize %>">
  <%= user.initials %>
</span>
