 <!-- Modal Structure -->
 <div id="pr_fields" class="modal">
   <div class="modal-content">
     <h4>Describe your topic</h4>
     <p>Please gives your topic a title & a content</p>
     <%= f.input :title, as: :string, wrapper_html: { class: 's12 clean-input' } %>
     <%= f.input :content, as: :text, wrapper_html: { class: 's12 clean-input' } %>
   </div>
   <div class="modal-footer">
     <a href="#!" class=" modal-action modal-close waves-effect waves-green btn">Save Topic</a>
   </div>
 </div
