<ul class="title-action">
  <li><h4 class='part-title'>Step Focus</h4></li>
  <li>
    <%= render 'project_states/transition_buttons', state_machine: state_machine %>
  </li>
</ul>
<%= render "project_states/#{state_machine.current_state}" %>

