<% if @project && @project.persisted? %>
  <div class="nav-wrapper" id='timeline'>
    <div class="row">
      <div class="col s9">
        <div class="accordeon open">

        </div>
      </div>
      <div class="col s3">
        <div class="accordeon">

        </div>
      </div>
    </div>

  </div>
<% end %>
