<h1>Your projects</h1>
<div class="row">
  <% @projects.each do |project| %>
    <div class='col s6'>
      <h2><%= project. title %></h2>
      <script src="https://embed.github.com/view/3d/maximedelpit/T3DM-000014-test-up-1/master/3D%20Models/medaille_ambition10__MEDAILLE_AMBITION10.stl"></script>

    </div>
  <% end %>
</div>
