<!-- Project Overview -->
<div class="col s2 full">
  <%= render 'shared/project_infos' %>
</div>

<!-- Step overview -->
<div id='step-focus' class="col s7 full light-vt-borders">
  <h4 class='part-title'>Step Focus</h4>
  <div class="valign-wrapper" style="height: 30vh;">
    <h1 style="width: 100%;">WORK IN PROGRESS</h1>
  </div>
  <%#= render 'project_states/transition_buttons', state_machine: @state_machnine %>
</div>

<!-- Topics overview -->
<div class="col s3 full">
  <ul class="collapsible" data-collapsible="accordion" id='topic-form-accordion'>
    <li>
      <ul class='title-action collapsible-header'>
        <li><h4 class='part-title'>Topics</h4></li>
        <li>
          <a class="btn-icon-large"><i class="material-icons turquoise">add_circle_outline</i></a>
        </li>
      </ul>
      <div class="collapsible-body" id='topic-form'>
        <%= render 'topics/new', topic: Topic.new %>
      </div>
    </li>
  </ul>
  <%#= render 'topics/filters' %>
  <%= render 'topics/index', topics: @topics %>
</div>


