<!-- Project Overview -->
<div class="col s2 full">
  <%= render 'shared/project_infos' %>
</div>

<!-- Step overview -->
<div id='step-focus' class="col s7 full light-vt-borders">
  <%= render 'projects/step_focus', state_machine: @state_machine %>
<!--   <script src="https://embed.github.com/view/3d/maximedelpit/T3DM-000001-Test-co-eng-new/master/3D%20Models/medaille_ambition10__MEDAILLE_AMBITION10.stl"></script>
  <script src="https://embed.github.com/view/3d/skalnik/secret-bear-clip/master/stl/clip.stl"></script> -->

</div>

<!-- Topics overview -->
<div class="col s3 full">
  <ul class="collapsible custom-accordion" data-collapsible="accordion" id='topic-form-accordion'>
    <li>
      <ul class='title-action collapsible-header'>
        <li><h4 class='part-title'>Topics</h4></li>
        <li>
          <a class="btn-icon-large"><i class="material-icons turquoise">add_circle_outline</i></a>
        </li>
      </ul>
      <div class="collapsible-body" id='topic-form'>
        <%= render 'topics/new', topic: Topic.new %>
      </div>
    </li>
  </ul>
  <%#= render 'topics/filters' %>
  <%= render 'topics/index', topics: @topics %>
</div>


