// OVERIDDE MATERIALIZE
#breadcrumb {
  line-height: 50px;
  height: 6vh;
  font-size: $nav-size;
  color: $c-gray-dark;
  z-index: 2;
  a, a:active, a:focus, a:hover {
    color: $c-gray-dark;
  }
  .row {
    margin-bottom: 0;
    height: 100%;
  }
  .project-info {
    .project-title {
      text-transform: uppercase;
      font-weight: 900;
      margin: 0;
      line-height: 40px;
    }
    .date {
      margin: 0;
      line-height: 0px;
    }
  }
  .breadcrumb {
    font-size: $nav-size;
    color: $c-gray-dark;
    opacity: 1;
    &:before {
      color: $c-gray-dark;
    }
  }
}
