/* Main class */
.nav-large {
  height: 30vh;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), image-url('bg-l-nav.png');
  .nav-wrapper {
    padding: 7% 3% 3% 3%;
  }
}

.nav-small {
  height: 30vh;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), image-url('bg-l-nav.png');
  .nav-wrapper {
    height: 6vh;
    padding: 0% 2%;
    z-index: 10;
    ul.right.hide-on-med-and-down {
      height: 6vh;
    }
  }
}

.nav-wrapper .brand-logo img {
  width: 70%;
}


