/* Main class */
.nav-large {
  height: 31vh;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), image-url('bg-l-nav.png');
  .nav-wrapper {
    padding: 7% 3% 3% 3%;
  }
}

.nav-small {
  height: 31vh;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), image-url('bg-l-nav.png');
  #logo-nav {
    z-index: 10;
  }
  .nav-wrapper {
    height: 7vh;
    padding: 0% 2%;
    ul.right.hide-on-med-and-down {
      height: 7vh;
    }
  }
}

.nav-wrapper .brand-logo {
  height: 50px;
  img {
    width: 70%;
  }
}
