/* Main class */
.nav-large {
  height: 30vh;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), image-url('bg-l-nav.png');
  .nav-wrapper {
    padding: 7% 3% 3% 3%;
  }
}

.nav-small {
  height: 6vh;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), image-url('bg-l-nav.png');
  .nav-wrapper {
    padding: 0% 5%;
  }
}

.nav-wrapper .brand-logo img {
  width: 70%;
}

