/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-gray-lighter {
  background: $c-gray-lighter;
}
.bg-blue {
  background: #00a3e1;
}
.bg-navy-blue {
  background: $c-navy-blue;
}
.bg-white {
  background: white !important;
}
.bg-client {
  background: $c-sky-blue;
}

// .bg-methods {
//   background: $c-purple;
// }

.bg-supplier {
  background: $c-orange;
}

.bg-production {
  background: $c-light-green;
}


.part-title {
  font-weight: bold;
  color: $c-turquoise;
}

.border.red {
  border-color: $c-red !important;
  color: $c-red !important;
}

.border.turquoise {
  border-color: $c-turquoise !important;
  color: $c-turquoise !important;
}
.row {
  margin: 0;
}

.info-group {
  .main-info {
    color: $c-gray-dark;
    font-weight: 900;
    i {
      color: $c-gray-dark;
    }
  }
  .second-info {
    color: $c-gray-light;
    margin: 0;
    line-height: 0px;
    i {
      color: $c-gray-light;
    }
  }
}

.attachment-link {
  float:right;
  margin-right: 2rem;
}
.material-icons.attachment-icon {
  font-size: 16px !important;
}



// OVERIDDE MATERIALIZE

h1 {
  font-size: 1.8rem !important;
}
h2 {
  font-size: 1.6rem !important;
}
h3 {
  font-size: 1.5rem !important;
}
h4 {
  font-size: 1.4rem !important;
}
h5 {
  font-size: 1.3rem !important;
}
h6 {
  font-size: 1rem !important;
}
