/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-gray-lighter {
  background: $c-gray-lighter;
}
.bg-blue {
  background: #00a3e1;
}
.bg-navy-blue {
  background: $c-navy-blue;
}
.bg-white {
  background: white !important;
}
.bg-client, .bg-adapt_and_finalize, .bg-bid {
  background: $c-sky-blue !important;
}

.bg-methods, .bg-design_analysis, .bg-preparation, .bg-quotation {
  background: $c-purple !important;
}

.bg-supplier {
  background: $c-orange !important;
}

.bg-production, .bg-printing, .bg-heat_treatment, .bg-cutting, .bg-machining,
.bg-finishes, .bg-surface_treatment, .bg-quality_control, .bg-shipping  {
  background: $c-light-green !important;
}


.color-client, .color-adapt_and_finalize, .color-bid {
  color: $c-sky-blue !important;
  font-weight: 900;
}

.color-methods, .color-design_analysis, .color-preparation, .color-quotation {
  color: $c-purple !important;
  font-weight: 900;
}

.color-supplier {
  color: $c-orange !important;
  font-weight: 900;
}

.color-production, .color-printing, .color-heat_treatment, .color-cutting, .color-machining,
.color-finishes, .color-surface_treatment, .color-quality_control, .color-shipping  {
  color: $c-light-green !important;
  font-weight: 900;
}



.part-title {
  font-weight: bold;
  color: $c-turquoise;
}

.border.red {
  border-color: $c-red !important;
  color: $c-red !important;
}

.border.turquoise {
  border-color: $c-turquoise !important;
  color: $c-turquoise !important;
}
.row {
  margin: 0;
}

.info-group {
  .main-info {
    color: $c-gray-dark;
    font-weight: 900;
    i {
      color: $c-gray-dark;
    }
  }
  .second-info {
    color: $c-gray-light;
    margin: 0;
    line-height: 0px;
    i {
      color: $c-gray-light;
    }
  }
}

.c-orange {
  color: $c-orange;
}

.c-gray {
  color: $c-gray;
}

.c-gray-light {
  color: $c-gray-light;
}

.c-green {
  color: $c-green;
}

.attachment-link {
  float:right;
  margin-right: 2rem;
}
.material-icons.attachment-icon {
  font-size: 16px !important;
}



// OVERIDDE MATERIALIZE

h1 {
  font-size: 1.8rem !important;
}
h2 {
  font-size: 1.6rem !important;
}
h3 {
  font-size: 1.5rem !important;
}
h4 {
  font-size: 1.4rem !important;
}
h5 {
  font-size: 1.3rem !important;
}
h6 {
  font-size: 1rem !important;
}

table.small-padding {
  td {
    padding: 5px;
  }
}


.mgb-10 {
  margin-bottom: 10px;
}
.mgb-15 {
  margin-bottom: 15px;
}

i {
  cursor: pointer;
  cursor: hand;
}
