/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: $success-color;
}
.alert-warning {
  background: $error-color;
}

#instructions {
  margin-top: 1.5rem;
  border: 1px solid rgba(255, 166, 90, 0.4);
  padding: 2px 20px;
  border-radius: 3px;
  background-color: rgba(255, 166, 90, 0.2);
}
