/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  opacity: 0.6;
  padding: 1rem 2rem;
  position: relative;
  button.close {
    background: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2rem 1rem;
    font-size: 16px;
  }
}
.alert-info {
  background: $success-color;
}
.alert-warning {
  background: $error-color;
}

#instructions {
  margin-top: 1.5rem;
  border: 1px solid rgba(255, 166, 90, 0.2);
  padding: 2px 20px;
  border-radius: 3px;
  background-color: rgba(255, 166, 90, 0.05);
  position: relative;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    opacity: 0.6;
    cursor: pointer;
    cursor: hand;
    i {
      font-size: 16px;
    }

  }
}

.swal2-modal {
  border-radius: 2px;
  h2 {
    line-height: 25px;
  }
  .swal2-content {
    font-size: $medium-size;
    line-height: 20px;
    margin-bottom: 2rem;
  }

  .swal2-input {
    display: block;
    border: none;
    border-bottom: 1px solid gray;
    border-radius: 0px;
    &:focus, &:active {
      outline: none;
      box-shadow: none;
      border-top: none;
      border-right: none;
      border-left: none;
    }
  }
  .swal2-input:not([type="file"]):focus, .swal2-textarea:focus {
    outline: none;
    box-shadow: none;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  .swal2-confirm {
    border-left-color: $c-turquoise;
    border-right-color: $c-turquoise;
    background-color: $c-turquoise
  }
  .swal2-cancel {
    border-left-color: $c-gray-light;
    border-right-color: $c-gray-light;
    background-color: $c-gray-light
  }

}
