// OVERIDDE MATERIALIZE
.btn-floating.text {
  width: 26px;
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  i {
    line-height: inherit;
  }
}

.btn-floating.border {
  width: 30px;
  border: 2px solid $primary-color;
  color: $primary-color;
  background: transparent !important;
  box-shadow: none;
  i {
    width: 100%;
    color: inherit;
    font-weight: bold;
  }
}

.btn-icon-large {
  height: 30px;
  width: 30px;
  i {
    font-size: 30px;
  }
}


.btn-icon-large, .btn-icon {
  background: transparent;
  i.red {
    color: $c-red;
    background: transparent !important;
  }
  i.turquoise {
    color: $c-turquoise;
    background: transparent !important;
  }
  i.green {
    color: $c-green;
    background: transparent !important;
  }
  i.orange {
    color: $c-orange;
    background: transparent !important;
  }
}

.btn-mini {
  font-size: 12px;
  height: 25px;
  line-height: 26px;
  min-width: 40px;
  padding: 0 5px;
}

.btn.gray {
  background-color: $c-gray;
}

.btn.gray-light {
  background-color: $c-gray-light;
}

.btn.gray-lighter {
  background-color: $c-gray-lighter;
}

.fixed-action-btn.horizontal.left {
  ul {
    text-align: left;
    left: 84px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 100%;
    right: auto;
    width: 500px;
  }
}

#conf-call-btn {
  ul {
    width: 14rem;
    li {
      a.btn-floating  {
        margin-right: 0px;
        i {
          font-size: 1.6rem;
          line-height: 39px;
        }
      }
    }
  }
}

