.card {
  position: relative;
  .row {
    margin-bottom: 0;
  }
  .card-image img {
    // height: 170px;
    height: 215px;
  }
  .card-content {
    padding: 10px;
    a {
      color: $link-color;
    }
    .title {
      text-transform: uppercase;
    }
    .date {
      color: $c-gray !important;
      font-style: italic
    }
  }

  .card-content.flex, .card-action.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    .main-flex {
      flex: 1 0 auto;
    }
    .small-size {
      font-size: 12px;
    }
  }

  .card-action {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }

  .card-link-abs a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.card.topic-card {
  color: $c-gray-dark;
}

.project-card .card-action {
  background-color: #F3F3F3;
  min-height: 56px;
}

#topic-body .card-content {
  // padding: 1.5rem 2.25rem;
  padding: 1.5rem 1rem;
  p.second-info.sm {
    padding: 0 5.5rem;
  }
  p.second-info.mini {
    padding: 0 3.5rem;
  }
  .main-item.fade.right-align {
    // padding-right: 8rem;
  }
}
#topic-body.sm {
}
