.card {
  position: relative;
  .row {
    margin-bottom: 0;
  }
  .card-image img {
    height: 170px;
  }
  .card-content {
    padding: 10px;
    a {
      color: $link-color;
    }
    .title {
      text-transform: uppercase;
    }
    .date {
      color: $gray-light !important;
    }
  }

  .card-action {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: $gray-lighter
  }

  .card-link-abs a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .info-group {
    .main-info {
      color: $gray-dark;
      font-weight: 900;
    }
    .second-info {
      color: $gray-light;
      margin: 0;
      line-height: 0px;
    }
  }
}

.card.topic-card {
  color: $gray-dark;
}

