form {
  margin-bottom: 20px;
}
// .aligned-fields {
//   textarea {
//     padding: 0px;
//   }
// }

input[type=submit] {
  float: right;
}

textarea.materialize-textarea {
  padding: 0px;
}

#topic-form-accordion, #comment-form-accordion {
  border: none;
  box-shadow: none;
  .collapsible-header {
    padding: 0;
    i {
      margin-right: 0;
    }
  }
  form {
    min-height: 23vh;
  }
}

.table_form {
  table {
    margin-bottom: 2rem;
  }
  tbody td {
    padding: 0 15px 5px 15px;
    .input-field.col {
      padding: 0;
      margin: 0;
      input, select, textarea {
        margin: 0;
      }
    }
  }
  td.icon-td {
    padding: 10px 15px 0px 15px;
  }
}


#conf-call-btn {
  bottom: 2vh;
  left: 2%;
  width: 2rem;
}
