#timeline {
  height: 18vh;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  .accordion {
    height: 15vh;
    background: $c-blue-opaq;
    margin: 0 0.5rem;
    padding: 0 1rem;
    i {
      height: 44px;
      line-height: 44px;
      border-radius: 50%;
      margin: auto;
      width: 44px;
    }
    i.focus {
      border: 1px solid white;
      border-radius: 50%;
      background: rgba(255,255,255, 0.3);
    }
    .axis {
      padding: 0 2rem;
      display: flex;
      justify-content: space-around;
      align-content: center;
      align-items: center;
      position: relative;
      .item h6 {
        font-weight: 100;
      }
      .item.focus h6 {
        border-bottom: 3px solid white;
      }
      .plain-dot {
        background-color: white;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        margin: auto;
      }
      .line {
        border-top: 0.2px solid white;
        width: 15%;
        padding: 12px 0
      }
    }
  }
  .accordion.open {
    background: $c-turquoise-opaq;
    flex: 4 0 75%;
    .retracted {
      display: none;
    }
    .expanded {
      display: block;
    }
  }

  .accordion.closed {
    flex: 1 0 auto;
    .retracted {
      display: block;
    }
    .expanded {
      display: none;
    }
  }

}
